<!DOCTYPE html>
<html lang="en">
<%- include("../header"); %>
<body>
  <%- include("../menu"); %>
  
  <!-- Material form register -->
<div class="card">

  <h5 class="card-header bg-dark white-text text-center py-4">
      <strong>로그인</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

      <!-- Form -->
      <form id="loginForm" class="text-center" style="color: #757575;" action="#!">

          <!-- ID -->
          <div class="md-form mt-0">
              <input type="text" id="id" class="form-control" required>
              <label for="id">Input ID</label>
          </div>

          <!-- Password -->
          <div class="md-form">
              <input type="password" id="password" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock" required>
              <label for="password">Input Password</label>
          </div>

          <!-- Sign up button -->
          <button class="btn btn-outline-dark btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">로그인</button>

      </form>
      <!-- Form -->

  </div>

</div>
<!-- Material form register -->

  <%- include("../footer"); %>

  <script>
    $(function () {
      $("#loginForm").submit((event)=>{
        event.preventDefault();
        // 로그인
        const id = $("#id").val();
        const password = $("#password").val();
       

        $.ajax({
          url: "/api/user/login",
          type: "POST",
          data: { id, password },
        }).done(() => {
          localStorage.setItem('user',id);
          location.href = "/";
        }).fail((request, status, error) => {
          alert(request.responseText);
        })
      });
    });
  </script>
</body>
</html>